.card-text {
  margin-bottom: 5px;
}

.padding {
  padding: 15px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
